@import "vars/_module";
@import "mixins/_module";

body {
	font-family: 'Bree Serif', serif;
	background: #999999;
}

html, body {
	min-height: 100%;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 2rem;
}

p {
	font-family: 'Bree Serif', serif;
}

.menu-wrapper {
	padding-top: 1rem;
}

ul.simple {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

.top-bar.is-stuck {
	width: 100%;
}

#PageContainer {
	img {
		margin: 1em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		height: auto;
	}
}

.menu-btn {
	i {
		display: block;
		width: 30px;
		height: 4px;
		margin-bottom: 3px;
		background: white;
	}
}

.page-info {
	background: $color-blue;
	padding: 100px;

	h1 {
		color: white;
		font-weight: bold;
		font-size: 3rem;
		display: block;
		width: 100%;
		text-align:center;
	}

	p {
		color: white;
		display:block;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}
}

.video-holder {
	display: block;
	width: 840px;
	position: relative;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}