/******************************************************
Breakpoints
*******************************************************/
/*
<480 first gen cell phones
< 768 portrait ipad
> 768 possibly desktop or tablet styles.
> 768 < 1024 ipad
> 1024 desktop
*/

$maxWidth: 1140px;

$dimLargeDesktop: $maxWidth;
$dimSmallDesktop: 1030px;

// Iphone
$dimIPhoneWidth: 320px;
$dimIPhone4Height: 480px ;
$dimIPhone5Height: 568px;

//Ipad
$dimIPadWidth: 768px;
$dimIPadHeight: 1024px;




