@import url(http://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin,latin-ext);



/*********************
TYPOGRAPHY
*********************/
$font-family-sans-serif:                "Sintony", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:                     "Georgia", Cambria, Times New Roman, Times, serif;

$font-base: $font-family-sans-serif;